
/*************  CUSTOM PROPERTIES *************/
:root {
  --font-family: "Poppins", sans-serif;
  --accent-color: #bb0000;
  --black-color: #111111;
  --border-radius: 0.5em;
  --white-color: #ffffff;
}
.light-mode{
  --text-color: #111111;
  --base-color: #ffffff;
  --hover-color: #f0f0f0;
  --line-color: #d3d3d3;
  --secondary-text-color: #666666;
}

.dark-mode {
  --text-color: #e6e6ef;
  --base-color: #11121a;
  --hover-color: #222533;
  --line-color: #42434a;
  --secondary-text-color: #b0b3c1;
}
/*************  RESET *************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  overflow-x: hidden;
  color: black;
  font-family: 'Inter', sans-serif;
}
/*************  HOME *************/
.container {
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
  text-align: center;
}
.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100vh;
    
  }
  
}